<% unless Spree::Social::Config.preferred_facebook_app_id.nil? %>
  <% content_for :head do %>
    <meta property="og:title" content="<%= @product.name %>" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="<%= spree.product_url(@product) %>" />
    <meta property="og:description" content="<%= @product.description %>" />
    <% @product.images.each do |i| %>
      <meta property="og:image" content="<%= image_tag(main_app.url_for(i.url(:mini))) %>" />
    <% end %>
    <meta property="fb:app_id" content="<%= Spree::Social::Config.preferred_facebook_app_id %>" />
  <% end %>

  <div id="fb-root"></div>
    <a class="js-facebook-product-detail-lnk" href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&amp;sdk=joey&amp;u=https%3A%2F%2Fblack-line.ae%2Fproducts%2F<%=@product.slug%>&amp;display=popup&amp;ref=plugin&amp;src=share_button" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')"><%= image_tag "fb-ico.svg", alt: "" %></a>
<% end %>
