<% unless Spree::Social::Config.preferred_facebook_app_id.nil? %>
  <% content_for :head do %>
    <meta property="og:title" content="<%= @product.name %>" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="<%= spree.product_url(@product) %>" />
    <meta property="og:description" content="<%= @product.description %>" />
    <% @product.images.each do |i| %>
      <meta property="og:image" content="<%= image_tag(main_app.url_for(i.url(:mini))) %>" />
    <% end %>
    <meta property="fb:app_id" content="<%= Spree::Social::Config.preferred_facebook_app_id %>" />
  <% end %>

  <div id="fb-root"></div>
   <a href="https://www.facebook.com/sharer/sharer.php?app_id=<%=Spree::Social::Config.preferred_facebook_app_id%>&sdk=joey&u=<%=Rails.application.credentials.dig(Rails.env.to_sym, :host) %>/products/<%= @product.name.downcase%>/&display=popup&ref=plugin&src=share_button" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')"><%= image_tag "fb-ico.svg", alt: "" %></a>
<% end %>
